@font-face {
    font-family: HelveticaNeue;
    src: url('../fonts/HELVET.TTF'),
}

html {
    font-size: 13px;
}

body {
    font-family: 'HelveticaNeue', sans-serif;
    color: #413f3a;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.accent-text-b{
    color: #413f3a !important;
}

.bone {
    background-color: #f2f2f2;
}

#welcome {
    margin: 30px 0px 30px 0px;
    padding: 20px;
}

.navbar-fixed {
    height: 93px;
}

#helpGoals:hover {
    cursor: pointer;
}

#helpGoals:hover {
    color: rgb(143, 143, 143);
}

main {
    flex: 1 0 auto;
    font-size: 14px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#productos {
    min-height: 100px;
    border-right: 2px dashed;
    margin-bottom: 30px;
}

#unlock {
    padding: 30px 20px 30px 20px;
    background-color: #fff1df;
}

#unlock div {
    padding: 20px;
    border-radius: 15px;
    min-height: 110px;
}

#costumers {
    padding: 50px 20px 40px 20px;
    background-color: #fffff2;
}

#aboutYou {
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 0px 0px;
    background-color: #fff;
}

#aboutYou .collapsible-header {
    display: webkit block !important;
    display: -moz-inline-box !important;
    display: inline-block !important;
    display: flex;
    display: inline-block !important;
    border: 0px #bdbdbd solid;
}

#shipping {
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 0px 0px;
    background-color: #fff;
}

#shipping .collapsible-header {
    display: webkit block !important;
    display: -moz-inline-box !important;
    display: inline-block !important;
    display: flex;
    display: inline-block !important;
    border: 0px #bdbdbd solid;
}

#summaryHead {
    margin-left: 10px;
    padding: 0px 0px 15px 0px;
}

#payment {
    padding: 5px 20px 5px 20px;
    margin: 10px 0px 0px 0px;
    background-color: #fff;
}

.page-footer {
    color: #7d7d7d;
    background-color: #929292;
}

.container2 {
    margin: 0 auto;
    width: 90%;
}

.container3 {
    margin: 0 auto;
    width: 95%;
}

.footer {
    padding: 0px 8% 0px 8%;
    color: #413f3a;
}

.accent-text {
    color: #e69221;
}

.super {
    box-shadow: inset 0px -5px 0px 0px #e69221;
    height: 66px;
}

.footer-copyright img {
    background-color: #000;
    border: 1px #413f3a solid;
    border-radius: 50%;
    height: 32px;
    margin: 3px;
}



.nextCat{
    position: relative;
    bottom: 200px;
}

.successContainerImg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    background-color: #c5c5c5;
    margin-bottom: 80px;
}

.successImg{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: relative;
    left: 10px;
    bottom: 10px;
    background-size: cover;
}

.padding15{
    padding: 15px;
}
.nextResult {
    width: 32px;
    border: 1px grey solid;
    box-shadow: 1px 1px 3px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    background-color: white;
}

.social-footer {
    background-color: white;
    padding: 5px;
}

.next {
    padding: 12px 30px 12px 30px;
    border-radius: 10px;
    border: 1px #bdbdbd solid;
    cursor: pointer;
    font-size: 8pt;
    transition: .3s;
    color: #5d5d5d;
    display: inline-block;
}

#nextDiv .collapsible-header {
    display: inline-block !important;
    border: 1px #bdbdbd solid;
}

#nextDiv {
    margin: 30px 0px 30px 0px;
}

.collapsible-body {
    border: 0px #bdbdbd solid;
    display: none;
    border-bottom: 0px solid #ddd;
}

.collapsible-header {
    display: webkit block !important;
    display: -moz-inline-box !important;
    display: inline-block !important;
    display: flex;
    display: inline-block !important;
    border: 0px #bdbdbd solid;
    border-bottom: 0px solid #ddd;
    padding: 0px;
}

.footer input[type="text"] {
    background-color: white !important;
    border-radius: 10px !important;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 8px 0 0;
    padding: 0px 20px 0px 20px;
    position: relative;
}

#linkFooter {
    font-size: 12px;
    padding: 50px 0px 50px 0px;
}

.science {
    margin-top: 30px;
}

#linkFooter ul {
    margin: 5px;
    float: left;
    width: 12%;
    height: 160px;
}

#linkFooter ul#form {
    margin: 5px;
    float: left;
    width: 30%;
}

#linkFooter ul#form .shop {
    position: relative;
    top: 10px;
    height: 41px;
    padding-top: 10px;
}

#formFooter input {
    left: -10px;
}

#linkFooter li {
    padding: 3px 0px 3px 0px;
}

nav {
    color: #000;
    background-color: #fff;
    padding: 0px 10% 0px 10%;
    transition: .3s;
    box-shadow: none;
}

nav .brand-logo {
    color: #000;
}

nav a {
    color: #000;
}

nav ul a {
    color: #000;
    padding: 0 9px;
    font-size: smaller;
}

nav,
nav .nav-wrapper i,
nav a.sidenav-trigger,
nav a.sidenav-trigger i {
    height: 93px;
    line-height: 93px;
}

.brand-logo {
    font-size: 2.1rem;
    color: #e69221;
    font-weight: bold;
    line-height: 65px;
    transition: ease-in .3s;
    font-size: 32px;
}

.brand-logo span {
    color: #fff;
}

.brand-logo div {
    color: #fff;
    font-size: 9pt;
    font-size: 1rem;
    font-weight: 1;
    line-height: 0px;
    position: relative;
}

nav .brand-logo {
    color: #e69221;
    font-weight: bold;
    line-height: 65px;
    transition: ease-in .3s;
}

nav .brand-logo span {
    color: #5e5e5e;
}

nav .brand-logo div {
    color: #000;
    font-size: 9pt;
    font-weight: 1;
    line-height: 0px;
}

.min-nav {
    font-size: 7pt;
}

.none {
    text-decoration: line-through;
}

.min-text {
    font-size: 8pt;
}

.min-text2 {
    font-size: 10pt;
}

.min-text3 {
    font-size: 14pt;
}

.productCart{
    margin-top: 15px;
}

/*impares*/

.goalsTable div:nth-child(2n+1) {
    border: 1px #e69221 solid;
    color: #e69221;
    padding: 8px;
    margin: 5px;
    height: 49px;
}

/*pares*/

.goalsTable div:nth-child(2n) {
    border: 1px black solid;
    padding: 8px;
    margin: 5px;
    min-height: 49px;
}

.goalsTableContent div:nth-child(2n+1) {
    color: #e69221 !important;
    border: none;
    padding: 0px;
    margin: 0px;
}

.goalsTableContent div:nth-child(2n) {
    color: black;
    border: none;
    padding: 0px;
    margin: 0px;
}

.shop {
    padding: 8px 21px 8px 21px;
    border-radius: 10px;
    border: 2px #e69221 solid;
    cursor: pointer;
    font-size: 8pt;
    transition: .3s;
}

.shopWhite {
    padding: 6px 25px 7px 25px;
    border-radius: 10px;
    border: 2px #fff solid;
    cursor: pointer;
    font-size: 13pt;
    transition: .3s;
    background: white;
    color: #ffa941;
}

#getYourText>.shop {
    margin: 40px 0px 0px 0px;
    display: inline-block;
}

#shopbtn>.shop {
    margin-left: 80px;
}

.shopping-cart {
    height: 20px;
    width: 20px;
}

.shopping-cart-noti {
    color: white;
    background-color: #79adf9;
    padding: 2px 7px 2px 7px;
    border-radius: 50px;
    position: relative;
    top: 4px;
    left: -7px;
}

.slider .slides li .caption {
    width: 80%;
    left: 10%;
    font-weight: bold;
}

.slider .slides li .caption h4::after {
    position: relative;
    top: 10px;
    margin: 10px 0px 30px 0px;
    content: "";
    width: 60px;
    display: block;
    border-bottom: 7px solid currentColor;
}

.blog .slider .slides li .caption h4::after {
    position: relative;
    top: 0px;
    margin: 0px 0px 0px 0px;
    content: "";
    width: 0px;
    display: block;
    border-bottom: 0px solid currentColor;
}

.slider .slides li .caption .shop {
    margin-left: 0px;
    color: #413f3a;
}

.slide-text {
    color: #413f3a;
}

.bold-text {
    font-weight: bold;
}

#firstMain {
    padding: 30px 0px 50px 0px;
}

#secondMain {
    background-color: #f6f6f5;
    padding: 50px 0px 50px 0px;
}

#secondMainP {
    background-color: #f6f6f5;
    padding: 50px 0px 50px 0px;
}

#secondMainImg {
    margin-top: 50px;
}

#secondMainImgP {
    margin-top: 50px;
}

#secondMainImg div {
    height: auto;
}

#secondMainImgP div {
    height: 156px;
}

#thirdMain {
    background-image: url('../img/bgThird.jpg');
    display: inline-block;
    height: 270px;
    color: #fff;
    padding: 50px 0px 50px 0px;
}

#secondMainImg img {
    padding: 8px 8px 8px 8px;
    height: 70px;
    width: 70px;
}

#secondMainImgP img {
    padding: 8px 8px 8px 8px;
    height: 70px;
    width: 70px;
}
#secondMainImgP object {
    padding: 8px 8px 8px 8px;
    height: 70px;
    width: 70px;
}

#benefits p {
    position: relative;
    text-align: center;
    font-size: 12pt;
}

#benefits div {
    min-height: 325px;
}
 

#benefits p {
    min-height: 72px;
}
 

.benefits-img {
    height: 70px;
    width: 70px;
    padding: 5px 5px 5px 5px;
}

#howToJoinUs {
    padding: 50px 0px 50px 0px;
    background-image: url('../img/HOW-TO-JOIN-US.jpg');
    background-color: #02151c;
    background-size: cover;
    background-repeat: no-repeat;
}

#howToJoinUsContent .shop {
    margin-top: 30px;
    display: inline-block;
}

#how-it-works p {
    position: relative;
    text-align: center;
    font-size: 12pt;
    width: 40%;
    margin-left: 30%;
    font-weight: bold;
    border-bottom: 4px #e69221 solid;
}

#yourSuccess {
    padding: 50px 0px 50px 0px;
    background-color: #f9fafa;
}

#costumerResults {
    padding: 50px 0px 50px 0px;
    background-color: #fff;
}

#myGenPro {
    padding: 50px 0px 50px 0px;
    background-image: url('../img/bgMyGenPro.jpg');
}

#myGenOnline {
    padding: 50px 0px 50px 0px;
    background-color: #fff;
}

#marketingMaterial {
    padding: 50px 0px 0px 0px;
    background-color: #e69221;
}

.how-it-works-img {
    height: 70px;
    width: 70px;
    padding: 15px 15px 15px 15px;
    border: 1px #413f3a dashed;
    border-radius: 50%;
}

#sport{
    cursor: pointer;
}

#weight{
    cursor: pointer;
}
#beauty{
    cursor: pointer;
}

#wellness{
    cursor: pointer;
}
#sportTable {
    background-image: url(../img/sport.jpg);
    width: 100%;
    padding: 0px;
    background-size: cover;
}

#sportTable>div {
    padding: 20px;
}

#weightTable {
    background-image: url(../img/weight.jpg);
    width: 100%;
    padding: 0px;
    background-size: cover;
}

#weightTable>div {
    padding: 20px;
}

#beautyTable {
    background-image: url(../img/beauty.jpg);
    width: 100%;
    padding: 0px;
    background-size: cover;
}

#beautyTable>div {
    padding: 20px;
}

#wellnessTable {
    background-image: url(../img/wellness.jpg);
    width: 100%;
    padding: 0px;
    background-size: cover;
}

#wellnessTable>div {
    padding: 20px;
}

#life {
    padding: 50px;
    background-color: red;
    width: -moz-max-content;
    width: max-content;
    background-color: rgba(234, 131, 31, 0.6);
}

.paddingTop50{
    padding-top: 50px;
}

.borderBottomLeftRadius50{
    border-bottom-left-radius: 15px;
}

.borderBottomRightRadius50{
    border-bottom-right-radius: 15px;
}
.minGoal{
    min-height: 300px !important;
}

#selectGoals {
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 666px;
    display: block;
}

.collapsible {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0), 0 1px 5px 0 rgba(0, 0, 0, 0);
    border: 0px;
}

#orderMain {
    padding: 30px 0px 30px 0px;
    background-color: #f2f2f2;
}

#activateMain {
    padding: 30px 0px 30px 0px;
    background-color: #f2f2f2;
}

#register {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
    margin-top: 20px;
}

#activateKit {
    margin: 30px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
}

#assessment {
    margin: 30px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
}

#done {
    margin: 30px 0px 30px 0px;
    padding: 0px 0px 20px 0px;
}

.question {
    margin: 35px;
}

.answers {
    margin-top: 20px;
}

.answer {
    width: auto;
    position: relative;
}

.answer::before {
    content: '';
    display: block;
    padding-top: 100%;
    border: 2px #e69221 solid;
    border-radius: 50%;
}

.answerContent {
    position: absolute;
    top: 11px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40%;
}

#stepsActivateKit {
    font-size: 16px;
    padding: 15px 20px 15px 30px;
}

#activateKitHeader {
    letter-spacing: 5px;
}

#orderContent {
    padding: 20px;
    background-color: white;
}

#whiteFooter a {
    color: #000;
    margin: 5px;
}

#summaryContent {
    padding: 20px;
    background-color: #ffa941;
}

#details {
    margin-top: 10px;
}

#detailsContent {
    padding: 20px;
    background-color: #d6d5d5;
}

.orderProduct {
    margin-top: 20px;
    padding: 0rem !important;
}

.orderProduct span {
    height: 32px;
}

.orderProduct .btn-floating {
    width: 32px;
    height: 32px;
    line-height: 32px;
}

.orderProduct .btn-floating i {
    line-height: 32px;
}

#activate {
    margin: 20px 0px 20px 0px;
}

.result {
    width: auto;
    height: auto;
    background-color: #f1f1f1;
    margin-top: 54px;
}

.resultImg {
    width: 120px;
    height: 120px;
    background-color: #e69221;
    position: relative;
    bottom: 40px;
    left: 0px;
    padding: 15px;
    border-radius: 50%;
}

h5 {
    margin: 0;
}

#userDrop{
    width: 150px !important;
}
#move {
    position: relative;
    top: 56px;
    display: contents;
}

.dahsed {
    width: 100%;
    border: 1px grey dashed;
    margin: 8px 0px 8px 0px;
}

.formulacionTable {
    border: 1px orange solid;
    margin: 20px 0px 20px 0px;
    padding: 15px !important;
}
.formulacionOut{

    padding: 20px 30px 20px 0px;
}

.borderFormulacion{
    border: 1px #bababa solid;

    padding: 20px !important
}
.marginTop30{
    margin-top: 30px;
}

.textSuccess{
justify-content: center;
align-content: center;
height: 380px;
flex-direction: column;
font-size: 16px;
display: flex;
}

.marginBotom30{
    margin-bottom: 30px;
}
.tachado{text-decoration:line-through;}
.padding0{
    padding: 0 !important;
}
.paddingTop15{
    padding-top: 15px !important;
}
.paddingBottom15{
    padding-bottom: 15px !important;
}

.formSlide li {
    opacity: 1 !important;
    position: unset !important;
    height: auto !important;
    overflow: initial !important;
    font-weight: normal !important;
}
.formSlide .dropdown-content {
    top: -450% !important;
}
.infoForm{
    font-weight: normal !important;
    font-size: 8pt;
}
.borderRadius15px{
    border-radius: 15px;
}

#supplements{
    background-image: url('../img/bgSupplements.jpg');
}
#supplements ol{
    padding: 10px;
}
#supplements li{
    margin-top: 10px;
    list-style-type: none;
}
.marginTop100{
    margin-top: 100px;
}
#supplements  li::before {
    content: "✓ ";
    color:orange; /* or whatever color you prefer */
  }
.centerFull{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.headerSupp{
    border-top-left-radius: 25px;
padding: 15px !important;
border-top-right-radius: 25px;
color: white;


}

.discover{
    height: 600px;
}
.footerSupp{
    padding-top: 30px !important;
padding-bottom: 30px !important;
margin-bottom: 30px;
border-bottom-left-radius: 25px;
border-bottom-right-radius: 25px;
}
.topBorderM{
    border: 1px grey solid;
    border-top: 15px orange solid;
    border-radius: 5px;
}
.quote-rigth{
    border-right: 6px #ababab solid;
height: 200px;
position: relative;
top: 80px;
}

.quote-left{
    border-left: 6px #ababab solid;
height: 200px;
position: relative;
top: 80px;
}
.fieldContact{
    margin-top: 15px;
}
.card .card-image img {
    display: block;
    border-radius: 2px 2px 0 0;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    left: 50%;
top: 50%;
transform: translate(-50%, -15%);
}
.fieldText{
    height: 64px;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: flex;

}
.fieldImg{
height: 64px;
}

.fieldImg img{
    padding: 10px;
    border: 1px orange solid;
    border-radius: 50%;
    height: 64px;
}
.formulacionIn{
    justify-content: center;
    align-content: center;
    flex-direction: column;
    display: flex;
    height:  100px;
    border: 1px #bababa solid;
    padding: 10px !important;
    text-align: center;
    vertical-align: middle;
}
.resultImgShow {
    width: 120px;
    height: 120px;
    background-color: #e69221;
    padding: 15px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.resultText {
    margin-top: 20px;
    margin-bottom: 15px;
}

.margin50 {
    margin: 50px;
}

#activateKitImg {
    width: 128px;
    height: auto;
}

.hidden {
    visibility: hidden;
}

.genTable {
    height: 10px;
    border: 1px orange solid;
}

#contentWelcome {
    margin-top: 40px;
}

#buyMyGenImg {
    width: 128px;
    height: auto;
}

#activateKitBtn {
    margin-top: 50px;
    display: inline-block;
}

#buyMyGenBtn {
    margin-top: 50px;
    display: inline-block;
}

.dashCenter {
    float: right;
    right: 50%;
    position: relative;
    transform: translateX(50%);
}

nav ul a:hover {
    background-color: rgba(0, 0, 0, 0) !important;
}

.dashCenter li {
    line-height: 75px;
}

.dashCenter li a {
    line-height: 16px;
}

.dashCenter li div {
    position: relative;
    bottom: 36%;
    right: 30%;
}

.cat {
    width: 150px;
    height: 150px;
    align-content: center;
    border: 2px #e69221 solid;
    border-radius: 50%;
    position: relative;
    left: 47%;
    transform: translateX(-50%);
}

.catImg {
    width: 120px;
    height: 120px;
    position: relative;
    left: 15px;
    top: 10px;
}

.carousel {
    height: 450px;
}

#yourCategories {
    border-right: 1px grey dashed;
}

.carousel .shop {
    width: auto !important;
    height: auto !important;
    position: relative !important;
}

.infoResult {
    margin-top: 100px;
}

.carousel .carousel-item {
    visibility: hidden;
    width: 150px !important;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.itemCat {
    width: 150px;
}

.catText {
    position: relative;
    top: -10px;
    color: #000 !important;
}

.infoCat {
    width: 150px;
}

.userMenu {
    position: absolute;
    right: 0%;
}

.nav-dash {
    background-color: #7d7d7d !important;
    color: white !important;
}

.textNavDash {
    transform: translateY(-90%);
    font-size: 9pt;
    align-content: center;
}

.imgNavDash {
    width: 40px;
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-100%);
    margin: 20px 20px 0px 20px;
}

.testingColor {
    background-color: #f4f5f5;
}

#testing {
    background-color: #f4f5f5;
    padding: 0px;
}

#testing .slider .slides {
    background-color: #f5f5f5;
    margin: 0;
    height: 400px;
}

#dashHome {
    padding: 30px 0px 0px 0px;
}

.nextTest{
    position: relative;
    bottom: 234px;
    padding: 20px;
    z-index: 999;
}
#dashResult {
    padding: 30px 0px 30px 0px;
}
.border{
    border: 1px #02151c solid !important;
}

#testing .caption {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 15%;
    width: 40% !important;
    opacity: 0;
}

.slideM{
    visibility: hidden;
}

.shopMobile{
display: none;
}
.shopMobileContent{
    display: none;
}
@media(max-width: 1280px) {
    nav {
        padding: 0px 2% 0px 2%;
        transition: .3s;
    }
}

@media(max-width: 1068px) {
    .shop {
        margin-left: 0px;
        transition: .3s;
    }
    #linkFooter ul {
        margin: 5px;
        float: left;
        width: 30%;
    }
    #linkFooter ul#form {
        margin: 5px;
        float: left;
        width: 50%;
    }
    .fieldText{
      
        position: relative;
        left: 32px !important;

    }
}
@media(max-width: 992px) {

    .shopMobile{
        display: block !important;
    }
    .shopMobileContent{
        display: block !important;
    }
    .closeMobileContent{
        cursor: pointer;
    }
    .shopMobile{
        position: fixed;
        top: 16px;
        text-align: center;
        background-color: white;
        z-index: 997;
        color: black;
        font-size: 12pt;
        box-shadow: 0px -5px 10px -11px rgba(38,38,38,1);
        right: 3%;
        border: 3px orange solid;
        padding: 6px 15px 6px 15px;
        border-radius: 13px;
        
    }
    .shopMobileContent{
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: white;
        color: #000;
        z-index: 98;
        padding-top: 105px;
        bottom: -100%;
        transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);

    }
    .showMobileContentShow{
        bottom: 0;
        transition: .7s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .showMobileContentHide{
        bottom: -100%;
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    .slider {

        position: relative;
        height: 300px !important;
        width: 100%;
    
    }
    .slider .slides {

        background-color: #9e9e9e;
        margin: 0;
        height: 300px !important;
    
    }
    .slide{
        display: none;
    }
    .slideM{
        height: 300px !important;
        visibility: initial;
    }
    .blog .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    .blog .slider {

        position: relative;
        height: 450px !important;
        width: 100%;
    
    }
    .blog .slider .slides {

        background-color: #9e9e9e;
        margin: 0;
        height: 400px !important;
    
    }
    .blog .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    @media all and (orientation:landscape){
        .rotate{
            display: none;
        }

        .slider .slides li img {
            width: 100%;
            background-size: cover;
            background-position: center;
        
        }
        .slider {
    
            position: relative;
            height: 400px !important;
            width: 100%;
        
        }
        .slider .slides {
    
            background-color: #9e9e9e;
            margin: 0;
            height: 400px !important;
        
        }
        .slide{
            display: none;
        }
        .slideM{
            height: 400px !important;
            visibility: initial;
        }
        .blog .slider .slides li img {
            width: 100%;
            background-size: cover;
            background-position: center;
        
        }
        .blog .slider {
    
            position: relative;
            height: 450px !important;
            width: 100%;
        
        }
        .blog .slider .slides {
    
            background-color: #9e9e9e;
            margin: 0;
            height: 400px !important;
        
        }
        .blog .slider .slides li img {
            width: 100%;
            background-size: cover;
            background-position: center;
        
        }
    }


}

@media(max-width: 600px) {

    nav .brand-logo div {
        width: 185px;
        padding: 0px 0px 0px 0px;
        transition: .3s;
    }
   #linkFooter {
        font-size: 14px;
        padding: 50px 0px 50px 0px;
    }
    #linkFooter ul {
        margin: 5px;
        float: left;
        width: 40%;
    }
    #linkFooter ul#form {
        margin: 5px;
        float: left;
        width: 90%;
    }
    
    .fieldText{
      
        position: relative;
        left: 32px !important;

    }
    .textSuccess{
        justify-content: center;
        align-content: center;
        height: 200px;
        flex-direction: column;
        font-size: 16px;
        display: flex;
    }
    
    .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    .slider {

        position: relative;
        height: 210px !important;
        width: 100%;
    
    }
    .slider .slides {

        background-color: #9e9e9e;
        margin: 0;
        height: 210px !important;
    
    }
    .slide{
        display: none;
    }
    .slideM{
        height: 210px !important;
        visibility: initial;
    }
    .blog .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    .blog .slider {

        position: relative;
        height: 450px !important;
        width: 100%;
    
    }
    .blog .slider .slides {

        background-color: #9e9e9e;
        margin: 0;
        height: 400px !important;
    
    }
    .blog .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    #testing .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    #testing  .slider {

        position: relative;
        height: 400px !important;
        width: 100%;
    
    }
    #testing  .slider .slides {

        background-color: #dbdbdb;
        margin: 0;
        height: 400px !important;
    
    }
    #testing  .slider .slides li img {
        width: 100%;
        background-size: cover;
        background-position: center;
    
    }
    #selectGoals .row .col {

            float: left;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0rem !important;
            min-height: 1px;
        
    }
    #selectGoals ul{
        padding: 0rem !important;

    }
    .goalsTable{
        padding: 0rem !important;
    }
    .goalsTable div:nth-child(2n) {
        border: 1px black solid;
        padding: 0px !important;
        margin: 0px !important;
        min-height: 49px;
    }
    .goalsTable div:nth-child(2n+1) {

        border: 1px #e69221 solid;
        color: #e69221;
        padding: 0px !important;
        margin: 0px !important;
        height: 50px;
    
    }
        .goalsTableContent{
        padding: 0px;
        margin: 0px;
        font-size: 8pt;
        border: 1px black solid !important;
        }
        .checkProducto{
        border: 1px #e69221 solid !important;

        }
        .checkProducto label {
            font-size: .8rem;
            color: #9e9e9e;
            position: relative;
            top: 10px;
            left: 5px;
        }
        .collapsible-body{
            margin-top: 15px;
        }

        .goalsTable div:nth-child(2n+1) {
            border: none;
            color: #e69221;
            padding: 0px !important;
            margin-top: 10px !important;
            height: 50px;
        }
        .goalsTable div:nth-child(2n) {
            border: none;
            padding: 0px !important;
            margin-top: 10px !important;
            min-height: 49px;
        }    
    @media all and (orientation:landscape){
        .blog .slider .slides li img {
            width: 100%;
            background-size: cover;
            background-position: center;
        
        }
        .blog .slider {
    
            position: relative;
            height: 450px !important;
            width: 100%;
        
        }
        .blog .slider .slides {
    
            background-color: #9e9e9e;
            margin: 0;
            height: 400px !important;
        
        }
        .blog .slider .slides li img {
            width: 100%;
            background-size: cover;
            background-position: center;
        
        }
        .slider {
    
            position: relative;
            height: 300px !important;
            width: 100%;
        
        }
        .slider .slides {
    
            background-color: #9e9e9e;
            margin: 0;
            height: 300px !important;
        
        }
        .slide{
            display: none;
        }
        .slideM{
            height: 300px !important;
            visibility: initial;
        }
    }

}